<div class = "body1">
    <div class = "footer">
        <div class="backimage">
            <!-- <img src="https://static8.depositphotos.com/1011643/1068/i/600/depositphotos_10683491-stock-photo-diversity-kids-hands-together-on.jpg" alt="" width="350px" height="150px"> -->
            <br>
            <br>
            <div class="matter">
                <pre><h3>
                    <!-- Organ donation is giving an organ to help
                    someone who needs a transplant.
                    Transplants can save or greatly enhance
                    the lives of other people.-->
                    Our hospital System is a health care institution providing patient 
                    treatment with specialized health science and auxiliary
                     healthcare staff and medical equipment.

                </h3> 
                </pre>
            </div>
        </div>
        <div id="lnk">
            <div class="links">
                <h2><u>QUICK LINKS</u></h2>
                <ul>
                <li><a   routerLink ="home" style="color: white;">Home</a></li>
                <li><a  href="#hospital-form" routerLink ="hospital-form" style="color: white;">Form</a></li>
                <li><a  href="#aboutus" routerLink ="aboutus" style="color: white;">About Us</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>

