<div class="block1">
    <div class="donar">
        <h1>Becoming a living donar</h1>
        <br>
        <p>Across the UK, more than 1,000 people each year donate a kidney or part of their liver while they are still alive
            to a relative, friend or someone they do not know.

            The most commonly donated organ by a living person is a kidney. A healthy person can lead a normal life with only one functioning kidney and therefore they 
            are able to donate the other to help someone 
            in need of a kidney transplant. Part of a liver can also be transplanted from a living donor to help someone in need of a liver transplant.</p>
    </div>
    <div class="donate">
        <h1>What can i donate?</h1>
        <br>
        <p>
            You can donate a kidney, a piece of your liver, and certain other organs and tissues while alive. About 6,500 living donation 
            transplants take place each year.

            Unlike deceased donors, a living donor can decide who to donate their organ to, helping a recipient get an organ 
            transplant faster. Most living donations happen between family members or close friends. Other people choose to donate to someone
            they don't know. 
            
            Living donation is typically safe for the donor. Most living donors go on to live active, healthy lives and can see the
            positive impact of their donation.</p>
    </div>
</div>
<div class="block2">
    <div class="benifits">
        <h1>Benifits of living Donation</h1>
          <br>
            <ul>
                <p>
                <li>As a living donor, you can choose who receives your organ.</li>
                <li>You can reduce someone’s waiting time for an organ transplant.</li>
                <li>Living kidney donation can prevent—or shorten—the need for kidney dialysis.</li>
                <li>Research has shown that recipients of organs from living donors have better outcomes than
                    those who receive organs from deceased donors</li></p>
            </ul>
        
    </div>
    <div class="who">
        <h1>Who can be a living donar?</h1>
        <br>
        <p>Parents, husbands, wives, friends, co-workers—even total strangers—can be living donor candidates.</p>
        <p>To be a living donor, you must:</p>
        
        <ul>
            <p>
            <li>Be at least 18 or older (some transplant hospitals require donors to be at least 21)</li>
            <li>Have good physical and mental health</li>
            <li>Know the risks and benefits of living donation</li>
            <li>Make an informed decision that living donation is right for you</li>
            </p>
        </ul>
        
    </div>
</div>