<div class="h">
    <h1>Donation after life</h1>
    <br>
    <p>When you die, you can give an organ or part of an organ to someone in need. You can improve and save lives.</p>
</div>
<div class="box1">
    <div class="register">
        <h1>How to register as a donar</h1>
        <br>
            <p>First, decide to donate your organs, eyes, or tissues. Next, register as a donor in your state. 
                Signing up doesn't mean you will be able to donate your organs, eyes, or tissues. Registering usually 
                takes place many years before donation becomes possible. But it is the first step to being eligible to save lives.</p> 
    </div>
    <div class="test">
        <h1>Doctors test for Brain Death</h1>
        <br>
            <p>Doctors run tests to find out if there’s brain death. A patient with brain
                death has no brain activity, can’t breathe on their own and can’t recover. 
                Doctors confirm brain death and note the time of death. Then organ donation is possible</p>
    </div>
</div>
<div class="box2">
    <div class="procurement">
        <h1>The Organ Procurement Organization</h1>
        <br>
        <p>If you’re near death or die, the hospital tells the local Organ Procurement Organization (OPO). This follows federal rules. The hospital will tell the OPO about you. The OPO decides if you’re a possible donor.
                If so, someone from the OPO travels to the hospital.</p>
        
    </div>
    <div class="match">
        <h1>How Donars Are Matched to Recipients</h1>
        <br>
        <p>If the evaluation allows you to donate, the OPO contacts the Organ Procurement and Transplantation Network (OPTN).

                The OPTN is a national database. It has all patients in the U.S. waiting for a transplant. The OPO enters information about a donor into the system and the search begins.
                
                The system creates a list of patients who match the donor (by organ). The system offers each available organ to the transplant team of the best-matched patient.
                
                The transplant surgeon makes the final decision. They decide whether the organ is good for their patient. They may refuse the organ if their patient is too sick or they can’t reach them in time.
                
                Most organs go to patients in the area where doctors recovered the organs. Other organs may go to patients in other parts of the country.</p>   
    </div>
</div>
<div class="box3">
    <div class="transplant">
        <h1>What Happens When Doctors Remove and Transplant Organs</h1>
        <br>
        <p>Doctors will keep your organs on artificial support. Machines keep oxygen going to the organs. The medical team and OPO official will check the condition of each organ. 

                A transplant surgical team will replace the medical team that treated the donor before they died. (The medical team trying to save your life and the transplant team are never the same.)
                
                The surgical team will remove the donor’s organs and tissues. They remove the organs, then they remove approved tissues such as bone, cornea, and skin. They close all cuts. Organ donation doesn’t prevent open-casket funerals. 
                
                Organs only stay healthy for a short period of time after removal. Minutes count. 
                The OPO official plans for the moving of the organs. The organs go to the hospitals where the patient(s) who need them are. Organs may go by ambulance, 
                helicopter, or commercial airplane.</p>
        
    </div>
    <div class="surgeon">
        <h1>How Surgeons Transplant Organs</h1>
        <br>
        <p>The operation takes place after the transport team arrives at the hospital with the new organ. 
                The person getting the organ is at the hospital. They may be in the operating room waiting for the organ.

                Surgical teams work to transplant the new organs into the waiting patient.</p>
    </div>
</div>
