<div id="frm">

    <h1><u>View Patient Details</u></h1>
    <br>
    <div>
        <div id="text">
            <label> <b>  Id: </b></label> {{patient.id}}
        </div>
        <div id="text">
            <label> <b> Patient Name: </b></label> {{patient.patientName}}
        </div>
        <div id="text">
            <label> <b> Doctor Name: </b></label> {{patient.doctor}}
        </div>
        <div id="text">
            <label> <b> Mobile Number: </b></label> {{patient.mobileNumber}}
        </div>
        <div id="text">
            <label> <b> Age: </b></label> {{patient.age}}
        </div>
        <div id="text">
            <label> <b> Gender: </b></label> {{patient.gender}}
        </div>
        <div id="text">
            <label> <b> Disease: </b></label> {{patient.disease}}
        </div>
        <div id="text">
            <label> <b> Admitted Date: </b></label> {{patient.admittedDate}}
        </div>
        <div id="text">
            <label> <b> Discharged Date: </b></label> {{patient.dischargedDate}}
        </div>
        <div id="text">
            <label> <b> Payment: </b></label> {{patient.payment}}
        </div>
        <div id="text">
            <label> <b> Balance Amount: </b></label> {{patient.balanceAmount}}
        </div>
        <div id="text">
            <label> <b> Amount Due: </b></label> {{patient.amountDue}}
        </div>
    </div>
</div>

