<div class="volenteer">
    <h1>Volunteer Locally</h1>
    <br>
    <p>
        You can volunteer and make others aware about how to sign up as a donor.

        There are 56 organ procurement organizations (OPOs) in the United States. Each one serves its own area.</p>
</div>
<div class="opo">
    <h1>What does an OPO Do?</h1>
    <br>
    <p>
        <ul>
            <li>
                Helps increase the number of registered donors. 
                <p>
                    OPOs want people in their community to sign up as donors. They may:
                    <li>sponsor advertising campaigns;</li>
                    <li>organize programs in schools, worksites, and places of faith; or</li>
                    <li>share print and electronic materials.</li>
                </p>
            </li>
            <li>
                Helps with the donation process.
                <p>
                    People who work at an OPO help evaluate people who sign up as donors. They:
                    <li>check the person’s state donor registry;</li>
                    <li>discuss donation with family members</li>
                    <li>contact the Organ Procurement and Transplantation Network (OPTN). The system that
                         matches donors to receiving patients;</li>
                    <li>get a match list for that donor; and</li>
                    <li>arrange for transplant teams to remove and move donated organs.</li>
                </p>
            </li>
        </ul>
        <p>
        An OPO can also provide emotional support for donor families.
    </p>
</div>

   

<div class="we">
    <h1>Campaigns</h1>
    <br>
    <h2>
        Why do we campaign?
    </h2>
    <br>
    <ul>
        <li>To promote public awareness about organ donation and transplantation.</li>
        <li><p>
            To promote public awareness about the change to organ donation law in England,
             and the choices available to people. 
            </p></li>
        <li><p>
            To encourage people to share their donation decision with their family and friends.
            Many people don’t realise that their family’s support is needed for organ donation to go ahead,
            and fewer than half of families agree to donation going ahead if they are unaware of
            their loved one’s decision to be a donor. 
        </p></li>
    </ul>
</div>
