<div class="aboutus">
    <h1 >About Us</h1>
    <br>
    <p>
        The Division of Transplantation (DoT) is within the Health Systems Bureau (HSB) of the Health Resources and Services
         Administration at the U.S. Department of Health and Human Services. DoT is the primary federal entity responsible for 
         oversight of the nation’s organ and blood stem cell transplant systems. DoT also implements programs and initiatives that 
         increase organ and blood stem cell donations in the United States.
    </p>
</div>
<div class="work">
    <h1>Why Our Work Is Important</h1>
    <br>
    <p>
        DoT is our nation’s unifying voice for organ, eye, and tissue donation. We encourage donor
         registration with outreach efforts like organdonor.gov. By creating a big donor pool, 
         we can help more people find matches for lifesaving transplants.
    </p>
</div>
<div class="mission">
    <h1>Our Mission</h1>
    <br>
    
        <ul>
            <p>
            <li>
                To increase the number od donar pledges in india through large-scale information dissemination
                via various media and platforms such as social media ,radio,televison,awareness sessions in 
                scholles,colleges,hospitals and others institutions,and training others to carry out the programme.
            </li>
            <li>
                To educate those suffering from organ failure about their various options and to help them in their
                ardeal by offering information,advice,councilling,and offering monetary help,if possible,
                preventing the illness and death of those with organ failure
            </li>
            <li>
                To To influence public policy on organ donation through advocacy in India by becoming leaders in 
                public awareness and the collaborative effort of all NGOs in this field
            </li>
            </p>
        </ul>
    
</div>
<div class="l">
    <h1>For contact : </h1>
    <div class="details">
        <img src="https://img.icons8.com/ios-filled/1x/phone.png"
        alt="" width="40px" height="40px">
        <a href="tel:9381680639" style="color: black;">
            
          HospitalHelpline: 9381680639
        </a>
        <br>
        <br>
        <img src="https://img.icons8.com/external-nawicon-glyph-nawicon/1x/external-email-communication-nawicon-glyph-nawicon.png"
        alt="" width="40px" height="40px"> 
        <a href="mailto:yeggonisupriya04@gmail.com" style="color: black;">
            
            Email: yeggonisupriya04@gmail.com
        </a>
        <br>
        <br>
        <div class="social">
           <div class="instagram">
            <img src="https://img.icons8.com/glyph-neue/256/instagram-new.png" alt="" width="40px" height="40px">
           </div>
           <div class="twitter">
            <img src="https://img.icons8.com/glyph-neue/256/twitter.png" alt="" width="40px" height="40px">
           </div>
           <div class="facebook">
            <img src="https://img.icons8.com/ios-filled/256/facebook-new.png" alt="" width="40px" height="40px">
           </div>
        </div>
       
    </div>
</div>
