<div class="donated">
   <h1>What can be Donated?</h1> 
   <br>
   <p>
    Everyone has a choice as to whether or not they want to become an organ donor after they die, 
    and if you choose to donate, you can choose to donate either some or all of your organs.

    By registering to become an organ donor you have the option to donate organs such as your heart, lungs, liver, kidneys, pancreas and small bowel.
     All of these forms of donation can greatly enhance or even save the life of someone in need.</p>
</div>
<div class="half1">
    <div class="heart">
        <h1>Heart</h1>
        <br>
        <p>
            The heart is the main organ of the circulatory system.

            It continuously pumps blood around the body, beating around 100,000 times every day. 
            
            The blood that passes through the heart delivers vital oxygen and 
            nutrients to all parts of the body, and gets rid of unwanted carbon dioxide. 
            
            Choosing to donate your heart could save someone's life.</p>
    </div>
    <div class="lungs">
        <h1>Lungs</h1>
        <br>
        <p>
            Your lungs are a delicate part of the vital flow of oxygen round the body. When this
            process becomes damaged or the lungs are diseased, 
            people can quite quickly become very seriously ill.
            
            Donating your lungs after your death can mean that one or both of your lungs 
            is transplanted to save someone’s life.

            For those people waiting on the transplant list with advanced 
            lung disease or low life expectancy every lung donation is a chance for life
        </p>
    </div>
    <div class="liver">
        <h1>Liver</h1>
        <br>
        <p>
            The liver is the largest solid organ in the body, and supports almost every other organ.

        Your liver does many different jobs, such as getting rid of naturally occuring poisons
            known as toxins, and controling blood fat and sugar levels. It also produces a liquid called bile, which is needed to digest food.

            When a liver is not working properly and can no longer do these jobs, a person is 
            said to be in liver failure or end-stage liver disease.

        Living with liver failure can mean being unable to do many of the things that healthy people take for granted. 
        Unfortunately, there is no machine that can help the body to do the jobs of the liver long-term.

            At this point, when quality of life is so poor, or a person is 
            thought to have a shortened life-expectancy, a transplant is usually considered.
        </p>
    </div>
</div>
<div class="half2">
    <div class="kidneys">
        <h1>Kidneys</h1>
        <br>
        <p>
            Kidneys are essential for cleansing our blood. Choosing to donate a kidney could transform, or even save a life.
            
            Kidney donation is usually something that happens after you die, but because it is possible to live a normal, healthy 
            life with only one kidney you can also donate while you are alive</p>
    </div>
    <div class="pancreas">
        <h1>Pancreas</h1>
        <br>
        <p>
            Your pancreas is the long organ in your abdomen that creates a vital hormone called insulin. Insulin helps your body not to
            become too high or low in blood sugar. Patients with diabetes are unable to produce insulin adequately.

            Becoming a pancreas donor could mean providing a life-line to people who are living with advanced diabetes.</p>
    </div>
    <div class="smallbowel">
        <h1>Small Bowel</h1>
        <br>
        <p>
            Your small bowel is part of your intestines. It is the coiled elastic tube that turns what you eat and 
            drink into vital fuel for your body. It is not very small at all, it is about six metres long, and it is one of the organs 
            that can be donated when you die.

            Small bowel transplants are improving all the time. It is now possible to reduce an adult intestine so that it 
            can be transplanted to a child. Your small bowel donation could transform the life of someone waiting on the organ transplant list.
        </p>
    </div>
</div>

<div class="tissuedonation">
    <h1>Tissue Donation</h1>
    <br>
    <p>
        When you register to donate your organs, you can also choose to donate your 
               corneas, and your tissues,including bone. 
    </p>
</div>
<div class="half3">
    <div class="cornea">
        <h1>Cornea(Eye)</h1>
        <br>
        <p>    
        The cornea is the clear outer layer of tissue at the front of the eye which lets in light so that you can see.
        If you choose to donate your corneas after you die, you could give someone back the gift of sight.
        </p>
    </div>
    <div class="tissue">
        <h1>All Tissues</h1>
        <br>
        <p>
            Tissue can be thought of as a group of cells working together. A collection of tissues working together 
            to perform a specific function is called an organ.
    
            When you add your name and decision to the NHS Organ Donor Register, you can choose to donate your tissues to
            help repair and rebuild the bodies and lives of severely injured people. 

            Tissue donation is usually something that happens after you die, but it is possible 
            to donate some tissue while you are alive.
        </p>
    </div>
    
</div>
<div class="fill">
   <h1> Fill The Form To Save Others  </h1>
   
    <div class="organform">
        <a class="nav-link active"  href="#form" routerLink ="form">Click Here</a>
    </div>
</div>
<router-outlet></router-outlet>
