<div class="firsthalf">
  <div class="eligibility">
      <h1>Organ donation and eligibility</h1>
      <br>
      <p>
          Anyone can register a decision to become an organ donor after death, there is no age limit.

          To donate organs after death, a person needs to die in hospital in specific circumstances. </p>
  </div>
  <div class="limit">
    
      <h1>Is there an age limit for becoming an organ donor?</h1>
      <br>
      <p>
          There is no age limit for becoming an organ donor. 

          The decision about whether some or all organs or tissue are suitable for transplant is always made by medical
          specialists at the time of donation, taking into account your medical, travel and social history.</p>
  </div>
</div>
<div class="condition">
  
    <h1>Can you become an organ donor if you have a medical condition?</h1>
    <br>
    <p>
        Having an illness or medical condition doesn't necessarily prevent a person from becoming an organ or tissue donor.
         The decision about whether some or all organs or tissue are suitable for transplant is made by medical specialists at the time of donation, taking into
          account your medical, travel and social history. </p>
          <p>
            There are very few conditions where organ donation is ruled out completely.</p>
          <p>
            A person cannot become an organ donor if they have or are suspected of having:</p>
          <ul>
            <li>Creutzfeldt-Jakob Disease (CJD)</li>
            <li>Ebola virus disease</li>
            <li>Active cancer</li>
            <li>HIV*</li>
          </ul>
          <p>
            In rare cases, the organs of donors with HIV have been used to help others with the same conditions. If you live with HIV and wish to be a
             donor, please register to donate, the medical team will establish whether or not your organs are suitable for donation</p>
</div>
<div class="secondhalf">
  <div class="cancer">
    
      <h1>Can you become an organ donor if you have had cancer?</h1>
      <br>
      <p>
          Someone with current active cancer cannot become an organ donor. However, it may be possible for people with 
          certain types of cancers to donate after three years of treatment. It may also be possible to donate
          corneas and some tissue in these circumstances. </p>
  </div>
  <div class="smoke">
    
      <h1>Can you become an organ donor if you smoke?</h1>
      <br>
      <p>
          It is still possible to become an organ donor if you smoke. Specialist healthcare professionals decide in each 
          individual case whether a person's organs and tissue are suitable for donation, and smokers and people with other
          health conditions have saved - and continue to save - lives through organ donation. 
      </p>
  </div>
  <div class="alcohol">
      <h1>Can you become an organ donor if you drink alcohol?</h1>
      <br>
      <p>
          Drinking alcohol does not prevent you from becoming an organ donor. Although a heavy alcohol intake might
          affect your ability to donate some organs, specialist healthcare professionals will decide which organs and 
          tissue are suitable for donation on an individual basis.
      </p>
  </div>
</div>
